/* Grid */

.cassino_suport_background {
    width: 78vw;
    height: 96vh;
    justify-content: space-between;
}

.cassino_content_background {
    height: 91%;
    display: flex;
    justify-content: space-between;
}

/* Content */

.suport_cassino_content {
    width: 60%;
    height: 80%;
    margin: auto auto;
    border-radius: var(--radius);
    background-color: var(--background);
    box-shadow: 0 4px 7px -2px var(--fontTitle);
}

.header_double {
    justify-content: space-around;
    padding: 10px 0;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: antiquewhite;
    position: top;
}

.double_option_suport {
    width: 80%;
    height: 60%;
    margin: auto auto;
    justify-content: space-around;
    align-items: center;
}

.double_option {
    max-width: 200px;
    height: 200px;
    font-size: 2em;
    font-weight: 600;
}

.double_option#black{
    color: white;
    background-color: black;
}

.double_option#red{
    color: white;
    background-color: red;
}

/* History */

.cassino_history_background {
    background-color: var(--historyBackground);
    border-radius: var(--radius);
    width: 15%;
    height: 80%;
    margin: auto 0;
}

.item_list_history {
    width: 100%;
    height: 5%;
    border: 1px solid white;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}