.main_header_suport {
    width: 78vw;
}

.main_header_item, .main_header_item__current {
    padding: 5px 7px;
    margin: 0 auto;
    max-width: max-content;
    font-size: 1.3em;
    font-family: 'pridiSemi';
    color: var(--text);
    border-radius: var(--radius);
}

.main_header_item:not(:hover) {
    background-color: var(--secondPlan);
}

.main_header_item__current {
    color: var(--fontTitle);
    border: 3px solid var(--fontTitle) !important;
    box-shadow: 0 5px var(--fontTitle);
    background-color: var(--firstPlan) !important;
}