@font-face {
    font-family: 'pridiBold';
    src: url('../font/Pridi/Pridi-Bold.ttf');
}

@font-face {
    font-family: 'pridiSemi';
    src: url('../font/Pridi/Pridi-Medium.ttf');
}

@font-face {
    font-family: 'pridiLight';
    src: url('../font/Pridi/Pridi-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--fontTitle);
    color: var(--firstPlan);
}

:root {
    --firstPlan: #F3F3F3;
    --secondPlan: #E39C38;
    --background: #C98A32;
    --fontTitle: #634419;
    /* --fontTitle: #whitesmoke; */
    --text: whitesmoke;
    --radius: 10px;
}

body {
    background-color: var(--background);
}

main {
    height: 100vh;
    width: 80%;
    position: absolute;
    right: 0;
    background-color: var(--secondPlan);
}

main.full {
    transition: all 150ms;
    width: 95.5vw;
}

.container {
    width: 85%;
    margin: 0 auto;
    background-color: var(--secondPlan);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.centralize {
    justify-content: center;
}

.align {
    align-items: center;
}

.press_btn:hover {
    transition: ease-out 150ms all;
    border: 3px solid #634419;
    width: 100%;
    box-shadow: 0 5px var(--fontTitle);
    background-color: var(--firstPlan);
}

.press_btn:not(:hover) {
    transition: ease-out 100ms all;
    border: 0px solid #634419;
    width: 80%;
}

.press_btn:active {
    transition: ease-out 150ms all;
    transform: scale(0.95);
}