@font-face {
    font-family: 'pridiBold';
    src: url('../font/Pridi/Pridi-Bold.ttf');
}

@font-face {
    font-family: 'pridiSemi';
    src: url('../font/Pridi/Pridi-Medium.ttf');
}

@font-face {
    font-family: 'pridiLight';
    src: url('../font/Pridi/Pridi-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--fontTitle);
    color: var(--firstPlan);
}

.blackWhite:root {
    --firstPlan: #F3F3F3;
    --secondPlan: #BFBFBF;
    --background:#737373;
    --fontTitle: #0D0D0D;
}

.rose:root {
    --firstPlan: #F3F3F3;
    --secondPlan: #F25050;
    --background: #B33B3B;
    --fontTitle: #732626;
}

.skyBlue:root {
    --firstPlan: #F3F3F3;
    --secondPlan: #6093BF;
    --background: #406280;
    --fontTitle: #203140;
}

.coral:root {
    --firstPlan: #F3F3F3;
    --secondPlan: #F26835;
    --background: #D95D30;
    --fontTitle: #733119;    
}

:root {
    --firstPlan: #F3F3F3;
    --secondPlan: #E39C38;
    --background: #C98A32;
    --fontTitle: #634419;
    --doubleFirstPlan: #333333;
    --doubleBackground: #023373;
    --historyBackground: #F3F3F3;
    --text: whitesmoke;
    --radius: 10px;
}

body {
    background-color: var(--background);
}

main {
    transition: all 100ms;
    height: 100vh;
    width: 80%;
    position: absolute;
    right: 0;
    background-color: var(--secondPlan);
}

main.full {
    transition: all 150ms;
    width: 95.5vw;
}

.container {
    width: 85%;
    margin: 0 auto;
    background-color: var(--secondPlan);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.centralize {
    justify-content: center;
}

.align {
    align-items: center;
}

.press_btn:hover {
    transition: ease-out 150ms all;
    border: 3px solid var(--fontTitle);
    color: var(--fontTitle);
    width: 100%;
    box-shadow: 0 5px var(--fontTitle);
    background-color: var(--firstPlan);
}

.press_btn:not(:hover) {
    transition: ease-out 100ms all;
    border: unset;
    width: 80%;
}

.press_btn:active {
    transition: ease-out 150ms all;
    transform: scale(0.95);
}